<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="sportee.sudhir.snowdogsoapandroid">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="SoapAndroid"
        android:theme="@style/AppTheme">
        <activity android:name=".CustomerList" />
        <activity android:name=".OrderList" />
        <activity android:name=".DashBoard">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".AddUrlActivity" />
        <activity android:name=".ModifyUrlActivity" />
        <activity android:name=".UrlListActivity"></activity>


        <service android:name=".MyAlarmService"
            android:enabled="true" />

        <receiver android:name=".MyReceiver"/>
    </application>

</manifest>